@import "../libraries/bootstrap/scss/bootstrap.scss";
body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
}

.navbar-brand {
    img {
        max-height: 60px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #141b21;
            &.active {
                font-weight: 500;
                color: #0084fe;
            }
        }
        .btn-custom {
            background: linear-gradient( 180deg, #0084fe 0%, rgba(0, 132, 254, 0.5) 100%);
            border: none;
            border-radius: 30px;
            padding: 8px;
            color: #ffffff;
            font-weight: 500;
        }
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.hero {
    background: #ffe871;
    h1 {
        @media screen and (max-width: 992px) {
            font-size: 36px;
            width: 100%;
        }
        font-size: 36px;
        font-weight: 700;
    }
    span {
        color: #0084fe;
    }
    p {
        @media screen and (max-width: 992px) {
            font-size: 18px;
            width: 100%;
            margin-top: 30px;
        }
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        text-align: justify;
        margin-top: 30px;
    }
    .btn-custom {
        @media screen and (max-width: 992px) {
            margin-left: 10px;
        }
        background: linear-gradient( 180deg, #0084fe 0%, rgba(0, 132, 254, 0.5) 100%);
        border: none;
        margin-top: 30px;
        padding: 8px;
        border-radius: 30px;
        color: #ffffff;
        font-weight: 500;
    }
}

.about {
    margin-top: 60px;
    padding-bottom: 50px;
    img {
        width: 450px;
        @media screen and (max-width: 992px) {
            width: 100%;
            height: 300px;
        }
    }
    h1 {
        @media screen and (max-width: 992px) {
            font-size: 21px;
            width: 100%;
        }
        font-size: 21px;
        font-weight: 700;
    }
    span {
        color: #0084fe;
    }
    p {
        @media screen and (max-width: 992px) {
            font-size: 18px;
            width: 100%;
            margin-top: 30px;
        }
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        text-align: justify;
        margin-top: 30px;
    }
    .btn-custom {
        @media screen and (max-width: 992px) {
            margin-left: 10px;
        }
        background: linear-gradient( 180deg, #0084fe 0%, rgba(0, 132, 254, 0.5) 100%);
        border: none;
        margin-top: 30px;
        padding: 8px;
        border-radius: 30px;
        color: #ffffff;
        font-weight: 500;
    }
}

.section-learn {
    margin-top: 100px;
    padding-bottom: 50px;
    h2 {
        font-size: 24px;
        font-weight: 500;
        color: #141b21;
    }
    p {
        font-size: 18px;
        font-weight: 200;
        color: #727272;
    }
    .btn-custom {
        @media screen and (max-width: 992px) {
            margin-left: 10px;
        }
        background: linear-gradient( 180deg, #0084fe 0%, rgba(0, 132, 254, 0.5) 100%);
        border: none;
        margin-top: 30px;
        padding: 8px;
        border-radius: 30px;
        color: #ffffff;
        font-weight: 500;
    }
}

.bukutamu {
    padding: 180px 0 165px;
    margin-top: -70px;
    background: #ffe871;
    h1,
    p {
        color: #141b21;
    }
    h1 {
        font-weight: bold;
        font-size: 42px;
    }
}

.section-footer {
    h5 {
        color: #0084fe;
    }
    ul {
        li {
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
}

.page-dashboard {
    #page-content-wrapper {
        background: #f5f5fb;
        min-width: 100vw;
    }
    #sidebar-wrapper {
        margin-top: 60px;
        min-height: 100vh;
        margin-left: -15rem;
        transition: margin 0.25s ease-out;
        .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }
        .list-group {
            width: 15rem;
        }
    }
    #wrapper {
        &.toggled {
            #sidebar-wrapper {
                margin-left: 0;
            }
        }
    }
    .navbar-store {
        margin-top: 0;
        background-color: #f5f5fb;
        box-shadow: 0px 4px 5px #cacad1;
        @include media-breakpoint-up(md) {
            background: transparent;
            box-shadow: none;
        }
    }
    .list-group-item {
        border: 0;
        font-size: 16px;
        color: #c5c5c5;
        &.active {
            background: linear-gradient( 270deg, rgba(6, 95, 230, 0.32) 2%, rgba(255, 255, 255, 0) 100%);
            border-right: 4px solid #0084fe;
            color: #0c0d36;
        }
    }
    @include media-breakpoint-up(md) {
        #sidebar-wrapper {
            margin-left: 0;
            margin-top: 0px;
        }
        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }
        #wrapper {
            &.toggled {
                #sidebar-wrapper {
                    margin-left: -15rem;
                }
            }
        }
    }
    .section-content {
        margin-top: 100px;
        @include media-breakpoint-up(md) {
            margin-top: 20px;
            margin-left: 20px;
        }
        h5 {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            color: #0c0d36;
        }
        .dashboard-title {
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            color: #0c0d36;
        }
        .dashboard-subtitle {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #9191a9;
        }
        .product-title {
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #c5c5c5;
        }
        .product-subtitle {
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: #0c0d36;
            margin-bottom: 20px;
        }
        .nav-pills {
            .nav-link {
                font-weight: normal;
                font-size: 18px;
                color: #9191a9;
                border-radius: 0;
                &.active {
                    font-weight: 500;
                    font-size: 18px;
                    color: #0c0d36;
                    border-bottom: 2px solid #0c0c0c;
                    background: none;
                }
            }
        }
        .gallery-container {
            .delete-gallery {
                display: block;
                position: absolute;
                top: -10px;
                right: 0;
            }
        }
    }
}

.card {
    background: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 8px;
    border: none;
    text-decoration: none !important;
    .dashboard-card-title {
        font-size: 16px;
        line-height: 24px;
        color: #c5c5c5;
    }
    .dashboard-card-subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #0c0d36;
    }
}